<div class="container">
<div class="jumbotron mt-5 ">
    <h1 class="display-4 mb-2">Buffet System</h1>
    <p class="lead">
    This Application is Used For users To purchase products from The Buffet System and The System Will audit The Logs of purchases by the users and Present reports 

    </p>
    <hr class="my-4">
    <p>This Application is For (ManzoomaTahreer) Supervised By Major/Ahmed Seleem</p>
    <p class="lead mt-2">
      <a class="btn btn-primary btn-lg" [routerLink]="['/user']" [queryParams]="{auth:'signup'}" role="button">Sign Up</a>
    </p>
  </div>
</div>